experiment_dir: "/mnt/external.data/TowbinLab/igheor/20231027_Ti2_10x_rpl22_AID_356_369_20231027_182159_936/"

building_blocks: ["segmentation", "segmentation", "straightening", "straightening", "straightening", 
                    "volume_computation", "volume_computation", "classification", "molt_detection"]

rerun_segmentation: [False]
rerun_straightening: [True]
rerun_volume_computation: [True]
rerun_classification: [False]
rerun_molt_detection: [False]
rerun_fluorescence_quantification: [False]

# segmentation parameters
segmentation_column: ['raw']
segmentation_method: ["edge_based", "ilastik"]
segmentation_channels: [[1], [0]]
augment_contrast: [False]

# edge-based segmentation parameters
pixelsize: [0.65]
sigma_canny: [1]

# deep learning segmentation parameters
model_path: ["/home/spsalmon/towbintools/towbintools/deep_learning/unet_confocal/epoch=105-step=16854.ckpt"]
tiler_config: [[[512, 512], [256, 256]]]
RGB: [True]
activation_layer: [null]
batch_size: [-1]

# ilastik segmentation parameters
ilastik_project_path: ["/home/igheor/towbintools_pipeline/models/pharynx_str_noCPR.ilp"]
ilastik_result_channel: [0]

# straightening parameters
straightening_source: [['raw', [0,1]], ['analysis/ch1_seg', null], ['analysis/ch2_seg', null]]
straightening_masks: ['analysis/ch2_seg', 'analysis/ch1_seg', 'analysis/ch2_seg']

# volume computation parameters
volume_computation_masks: ['analysis/ch1_seg_str', 'analysis/ch2_seg_str']

# classification parameters
classification_source: ['analysis/ch2_seg_str']
classifier: ["./models/worm_type_classifier.json"]

# molt detection parameters
molt_detection_volume: ['ch2_seg_str_volume']
molt_detection_worm_type: ['ch2_seg_str_worm_type']

# fluo quantification parameters
fluorescence_quantification_source: [['raw', 0]]
fluorescence_quantification_masks: ['analysis/ch1_seg']
fluorescence_quantification_normalization: ['area']

# custom parameters
custom_script_path : [null]
custom_script_parameters : [null]

# sbatch parameters
sbatch_memory: 128G
sbatch_time: 0-48:00:00
sbatch_cpus: 32
sbatch_gpus: 0
