pyyaml
pretrained-microscopy-models @ git+https://github.com/nasa/pretrained-microscopy-models
shiny
shinywidgets
towbintools
starbars
microfilm
numpy>=1.22,<1.27
napari-convpaint
napari-convpaint[cellpose]