experiment_dir: "/mnt/towbin.data/shared/spsalmon/pipeline_test_folder/"
analysis_dir_name: "analysis"
raw_dir_name: "raw_test"

#########################################################################################################
################################# IMAGE ANALYSIS PIPELINE CONFIGURATION #################################
#########################################################################################################

get_experiment_time: True

building_blocks: ["segmentation", "straightening", "morphology_computation", "classification", "molt_detection", "custom"]

rerun_segmentation: [False]
rerun_straightening: [True]
rerun_morphology_computation: [False]
rerun_classification: [False]
rerun_molt_detection: [False]
rerun_fluorescence_quantification: [False]
rerun_custom_script: [False]

# segmentation parameters
segmentation_column: ['raw_test']
segmentation_name_suffix: [null]
segmentation_method: ["deep_learning"]
segmentation_channels: [[1]]
run_segmentation_on: [null]

# edge-based segmentation parameters
pixelsize: [0.65]
gaussian_filter_sigma: [1]

# deep learning segmentation parameters
model_path: [/mnt/towbin.data/shared/spsalmon/towbinlab_segmentation_database/models/paper/body/towbintools_medium/best_light.ckpt]
batch_size: [32]

# straightening parameters
straightening_source: [['analysis/ch2_seg', null]]
straightening_masks: ['analysis/ch2_seg']
keep_biggest_object: [False]

# morphology computation parameters
morphology_computation_masks: ['analysis/ch2_seg_str']
morphological_features: [['length', 'area', 'volume', 'width_mean',]]

# classification parameters
classification_source: ['analysis/ch2_seg_str']
classifier: ["./models/worm_type_classifier.json"]

# molt detection parameters
molt_detection_method: ["deep_learning"]
molt_detection_model_path: ['./models/molt_detection_model.ckpt']
molt_detection_columns: [['ch2_seg_str_volume']]
molt_detection_worm_type: ['ch2_seg_str_worm_type']

# fluo quantification parameters
fluorescence_quantification_source: [['raw', 0]]
fluorescence_quantification_masks: ['analysis/ch1_seg']
fluorescence_quantification_aggregation: ['sum']
fluorescence_background_aggregation: ['median']

# custom parameters
custom_script_path: ["/home/spsalmon/test_custom_script.py"]
custom_script_name: ["test_custom_script"]
custom_script_return_type: ["subdir"]
custom_script_parameters: [["-i testinput"]]


# sbatch parameters
sbatch_memory: 64G
sbatch_time: 0-24:00:00
sbatch_cpus: 64
sbatch_gpus: "rtx6000:1"
