experiment_dir: "/mnt/towbin.data/shared/spsalmon/pipeline_test_folder/"
analysis_dir_name: "analysis"
raw_dir_name: "raw"

#########################################################################################################
################################# IMAGE ANALYSIS PIPELINE CONFIGURATION #################################
#########################################################################################################

get_experiment_time: True
overwrite_annotated_filemap: True

building_blocks: ["segmentation", "straightening", "straightening", "morphology_computation", "quality_control", "molt_detection"]
rerun_segmentation: [False]
rerun_straightening: [False]
rerun_morphology_computation: [False]
rerun_quality_control: [True]
rerun_classification: [True]
rerun_molt_detection: [True]
rerun_fluorescence_quantification: [True]
rerun_custom_script: [True]

# segmentation parameters
segmentation_column: ['raw']
segmentation_name_suffix: [null]
segmentation_method: ["deep_learning"]
segmentation_channels: [[1]]
run_segmentation_on: [null]

# edge-based segmentation parameters
pixelsize: [0.65]
gaussian_filter_sigma: [1]

# deep learning segmentation parameters
model_path: ["/mnt/towbin.data/shared/spsalmon/towbinlab_segmentation_database/models/paper/body/towbintools_medium/best_light.ckpt"]
batch_size: [12]

# straightening parameters
straightening_source: [['analysis/ch2_seg', null], ['raw', [1]]]
straightening_masks: ['analysis/ch2_seg']
keep_biggest_object: [False]

# morphology computation parameters
morphology_computation_masks: ['analysis/ch2_seg_str']
morphological_features: [['length', 'area', 'volume', 'width_mean', 'width_median', 'width_std', 'width_cv', 'width_skew', 'width_kurtosis']]

# quality control parameters
qc_masks: ['analysis/ch2_seg_str']
qc_images: [['analysis/ch2_raw_str', null]]
qc_model_path: ["/mnt/towbin.data/shared/spsalmon/towbinlab_classification_database/models/10x_body_qc/qc_xgb_model.pkl"]

# molt detection parameters
molt_detection_volume: ['ch2_seg_str_volume']
molt_detection_worm_type: ['ch2_seg_str_qc']

# fluo quantification parameters
fluorescence_quantification_source: [['raw', 0]]
fluorescence_quantification_masks: ['analysis/ch2_seg']
fluorescence_quantification_aggregation: ['sum']
fluorescence_background_aggregation: ['median']

# sbatch parameters
sbatch_memory: 64G
sbatch_time: 0-00:10:00
sbatch_cpus: 64
sbatch_gpus: "rtx4090:1"
