experiment_dir: "/mnt/towbin.data/shared/spsalmon/pipeline_test_folder/"
analysis_dir_name: "analysis"
raw_dir_name: "raw"
report_format: "parquet"

#########################################################################################################
################################# IMAGE ANALYSIS PIPELINE CONFIGURATION #################################
#########################################################################################################

get_experiment_time: True

building_blocks:
  - "segmentation"
  - "segmentation"
  - "straightening"
  - "straightening"
  - "straightening"
  - "straightening"
  - "morphology_computation"
  - "morphology_computation"
  - "fluorescence_quantification"
  - "quality_control"
  - "quality_control"
  - "molt_detection"

rerun_segmentation: [ False ]
rerun_straightening: [ False ]
rerun_morphology_computation: [ False ]
rerun_quality_control: [ False ]
rerun_molt_detection: [ False ]

# segmentation parameters
segmentation_column: [ 'raw' ]
segmentation_name_suffix: [ null ]
segmentation_method: [ "deep_learning", "deep_learning" ]
segmentation_channels: [ [ 1 ], [ 0 ] ]
run_segmentation_on: [ null ]

# edge-based segmentation parameters
pixelsize: [ 0.65 ]

# deep learning segmentation parameters
model_path: [ "/mnt/towbin.data/shared/spsalmon/towbinlab_segmentation_database/models/paper/body/towbintools_medium/best_light.ckpt", "/mnt/towbin.data/shared/spsalmon/towbinlab_segmentation_database/models/paper/pharynx/towbintools_medium/best_light.ckpt" ]
batch_size: [ 4 ]

# straightening parameters
straightening_source: [ [ 'analysis/ch2_seg', null ], [ 'analysis/ch1_seg', null ], [ 'raw', [ 1 ] ], [ 'raw', [ 0 ] ] ]
straightening_masks: [ 'analysis/ch2_seg', 'analysis/ch1_seg', "analysis/ch2_seg", "analysis/ch1_seg" ]

# morphology computation parameters
morphology_computation_masks: [ 'analysis/ch2_seg_str', 'analysis/ch1_seg_str' ]
morphological_features: [ [ 'length', 'area', 'volume', 'width_mean' ], [ 'length', 'area', 'volume', 'width_mean' ] ]

# quality control parameters
qc_masks: [ 'analysis/ch2_seg_str', 'analysis/ch1_seg_str' ]
qc_images: [ [ 'analysis/ch2_raw_str', null ], [ 'analysis/ch1_raw_str', null ] ]
qc_model_path: [ "/mnt/towbin.data/shared/spsalmon/towbinlab_classification_database/models/10x_body_qc/qc_xgb_model.pkl", "/mnt/towbin.data/shared/spsalmon/towbinlab_classification_database/models/10x_pharynx_qc/qc_xgb_model.pkl" ]
qc_import_eggs_from: [ null, "ch2_seg_str_qc" ]

# molt detection parameters
molt_detection_method: [ "deep_learning" ]
molt_detection_model_path: [ './models/molt_detection_model.ckpt' ]
molt_detection_columns: [ [ 'ch2_seg_str_volume' ] ]
molt_detection_worm_type: [ 'ch2_seg_str_qc' ]

# fluo quantification parameters
fluorescence_quantification_source: [ [ 'raw', 0 ] ]
fluorescence_quantification_masks: [ 'analysis/ch2_seg' ]
fluorescence_quantification_aggregation: [ 'sum' ]
fluorescence_background_aggregation: [ 'median' ]

# sbatch parameters
sbatch_memory: 64G
sbatch_time: 0-48:00:00
sbatch_cpus: 32
sbatch_gpus: "rtx6000:1"
